body {
  margin: 50px;
}

#graph {
    width: 90vw;
    min-height: 80vh;
    border: solid 1px black;
}

#errortext {
  color: red;
  font-size: 40px;
}

.metadata {
  overflow: scroll;
  
}

.tokenlist {
  list-style-type: none;
  padding-left: 0px;
}