@use "@material/slider";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@include slider.core-styles;

/* Define color scheme of page */
:root {
  --error: red; 
  --log-color: #D3D3D3; 
  --btn-color: #B590CA;
  --box-bg: #DDF3F5;
}

h2 {
  margin: 0 auto;
}

button {
  background-color: var(--btn-color);
  color: white;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

button:hover {
  font-weight: bold;
}

body {
  margin: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#graph {
  width: 90%;
  height: 65vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 40px;
  border: solid 5px black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

#errortext {
  color: var(--error);
  font-size: 25px;
}

.metadata {
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  width: 400px;
  height: 200px;
  font-size: 30px;
}

.tokenlist {
  list-style-type: none;
  padding-left: 0px;
}

.close-button {
  float: right;
}

#buttondiv, #buttontext, #show-mutations, #show-mutation-text, #slider, #slider-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#show-mutations {
  margin: auto;
}

#graphdiv {
  display: block;
}

.nextprev {
  margin: 0px 20px;
  padding: 0;
}

#search-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#graph-content {
  display: flex;
  flex-direction: row;
}

#graph-content-main {
  flex: 80%;
}

#graph-content-logs {
  flex: 20%;
  background-color: var(--box-bg);
  border-radius: 10px;
  max-height: 75vh;
  overflow-y: scroll;
  margin-right: 20px;
}

#log-list {
  font-size: 15px;
  list-style: none;
  padding: 15px;
}

#log-list > li {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

#graph-number-text, #graph-number, #total-mutation-number-text {
  margin: 5px;
  display: inline;
}

.recent-log-text {
  color: var(--error);
}

.error-text {
  color: var(--error);
}

.reset {
  width: 150px;
}

#input-boxes {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.input-child {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--box-bg);
  border-radius: 15px;
  margin: 15px;
}
